header {
  background-color: green;
}

nav {
  background-color: yellow;
  float:left;
}

section{
  background-color: blue;
}

article{
  background-color: orange;
}

footer {
  background-color: red;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
